In [1]:
import os
import sys
import petl as etl
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
import mysql.connector

In [2]:
def get_organization_name(record):
    parts = record['email'].split('@')
    if len(parts) >= 1:
        return parts[1]
    else:
        return ''
    
class CursorProxy(object):
     def __init__(self, cursor):
         self._cursor = cursor
     def executemany(self, statement, parameters, **kwargs):
         # convert parameters to a list
         parameters = list(parameters)
         # pass through to proxied cursor
         return self._cursor.executemany(statement, parameters, **kwargs)
     def __getattr__(self, item):
         return getattr(self._cursor, item)
    
def get_cursor(connection):
     return CursorProxy(connection.cursor())
    
print('starting etl server', file=sys.stdout)
    
def mysql_etl():
    try:
        print("extracting csv data", file=sys.stdout)
        data = etl.fromcsv('DATA.csv')
        print(data)
        print("tranforming data", file=sys.stdout)
        data = etl.addfield(data, 'organization', lambda record: get_organization_name(record))
        print("loading data to mysql", file=sys.stdout)
        engine = create_engine('mysql+pymysql://root:root_etl@localhost:3306/etl')
        connection = engine.raw_connection()
        connection.cursor().execute('SET SQL_MODE=ANSI_QUOTES')
        connection.cursor().execute('DROP TABLE IF EXISTS users;')
        etl.todb(data, get_cursor(connection) , 'users', create=True)
        etl.fromdb(connection,'users')
        print("Analyzing data", file=sys.stdout)
        table = etl.fromdb(connection,'SELECT organization,gender, count(*) as cnt FROM users GROUP BY gender LIMIT 5')
        print(table)
        return 'MySQL ETL Completed'
    except Exception as error:
        print("etl for mysql has error", file=sys.stdout)
        print('error message: {}'.format(error), file=sys.stdout)
        return str(error)
    
mysql_etl()

starting etl server
extracting csv data
+----+------------+------------+----------------------------+-------------+-----------------+
| id | first_name | last_name  | email                      | gender      | ip_address      |
+====+============+============+============================+=============+=================+
| 1  | Margaretta | Laughtisse | mlaughtisse0@mediafire.com | Genderfluid | 34.148.232.131  |
+----+------------+------------+----------------------------+-------------+-----------------+
| 2  | Vally      | Garment    | vgarment1@wisc.edu         | Bigender    | 15.158.123.36   |
+----+------------+------------+----------------------------+-------------+-----------------+
| 3  | Tessa      | Curee      | tcuree2@php.net            | Bigender    | 132.209.143.225 |
+----+------------+------------+----------------------------+-------------+-----------------+
| 4  | Arman      | Heineking  | aheineking3@tuttocitta.it  | Male        | 157.110.61.233  |
+----+------------+------------+----------------------------+-------------+-----------------+
| 5  | Roselia    | Trustie    | rtrustie4@ft.com           | Non-binary  | 49.55.218.81    |
+----+------------+------------+----------------------------+-------------+-----------------+
...

tranforming data
loading data to mysql
Analyzing data
+-----------------+-------------+-----+
| organization    | gender      | cnt |
+=================+=============+=====+
| mediafire.com   | Genderfluid | 140 |
+-----------------+-------------+-----+
| wisc.edu        | Bigender    | 119 |
+-----------------+-------------+-----+
| tuttocitta.it   | Male        | 129 |
+-----------------+-------------+-----+
| ft.com          | Non-binary  | 113 |
+-----------------+-------------+-----+
| hugedomains.com | Female      | 131 |
+-----------------+-------------+-----+

'MySQL ETL Completed'